[submodule "networking"]
	path = networking
	url = git@github.com:albrdev/marvin42-dacapo-networking.git
	url = https://github.com/albrdev/marvin42-dacapo-networking.git
	branch = master
[submodule "motor_controller"]
	path = motor_controller
	url = git@github.com:albrdev/marvin42-dacapo-motor_controller.git
	url = https://github.com/albrdev/marvin42-dacapo-motor_controller.git
	branch = master
[submodule "shared_libraries"]
	path = shared_libraries
	url = git@github.com:albrdev/marvin42-dacapo-shared_libraries.git
	url = https://github.com/albrdev/marvin42-dacapo-shared_libraries.git
	branch = master
[submodule "joystick_client"]
	path = joystick_client
	url = git@github.com:albrdev/marvin42-dacapo-joystick_client.git
	url = https://github.com/albrdev/marvin42-dacapo-joystick_client.git
	branch = master
